$height: 100vh

.default
    font-weight: 400
.bold
    font-weight: 800

html
    min-height: 100%
    background: #000

html,
body
    font-family: 'Poppins', sans-serif
    background: #000
body
    min-height: $height
    display: flex

.nav
    height: $height
    min-width: 300px
    padding: 0 40px
    background: #000
    color: #fff
    a
        text-decoration: none
        color: #c9c9c9
    &__title
        margin: 50px 0
        font-size: 1.6em
    .section
        animation: fadeFromLeft 500ms ease-out
        margin-bottom: 40px
        &__title
            font-size: .9em
            color: #9e9e9e
            text-transform: uppercase
            margin-bottom: 40px
        &__item
            cursor: pointer
            *
                cursor: pointer
            display: flex
            align-items: center
            padding: 10px 20px
            margin: 20px 0
            transition: border 200ms ease, color 200ms ease
            border: solid 1px #000
            color: #fff
            opacity: .5
            &__icon
                width: 20px
                margin-right: 20px
            &:hover,
            &.route--active
                opacity: 1

.content
    width: 100%
    background: #fff
    animation: fadeIn 900ms ease-out
    overflow: auto
    max-height: 100vh

    &__header
        padding: 30px
        background: #fff
        color: #000
        display: flex
        align-items: center
        &__title
            font-size: 1.3em
            text-transform: capitalize
        .button
            margin-left: auto

    .home
        max-width: 1200px
        margin: 200px auto
        line-height: 1.7
        animation: fadeFromBottom 300ms ease-out
        &__title
            font-size: 3.3em
            font-weight: 800
        &__description
            margin: 20px 0 60px 0

    .users
        margin: 40px
        &__title
            font-weight: 800
            font-size: 2.2em
            margin: 50px 0
            color: #000
            &::after
                content: '.'
                color: blue
        .list
            display: flex
            justify-content: center
            flex-wrap: wrap
            margin: 40px
            animation: fadeFromBottom 300ms ease-out
            .blank
                background: #ececec
            &__item
                position: relative
                padding: 40px 0
                width: 300px
                min-height: 150px
                box-shadow: 0 3px 10px -3px rgba(0, 0, 0, .1)
                padding: 40px 20px
                margin: 40px
                color: #fff
                background: linear-gradient(135deg, #328af1, #328af1, #8ac1ff)
                &__name
                    font-size: 1.5em
                    margin-bottom: 20px
                &__content
                    font-weight: 200
                    line-height: 1.4
                &__you,
                &__delete
                    position: absolute
                    top: 0
                    right: 0
                    padding: 5px 10px
                &__you
                    padding: 15px
                &__delete
                    cursor: pointer
                    font-family: Poppins, sans-serif
                    margin-left: auto
                    background: none
                    color: red
                    border: none
                    font-size: 2.3em
                    &__img
                        padding: 5px 10px
                        width: 20px
        .create
            display: none
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            justify-content: center
            align-items: center
            animation: fadeIn 200ms ease
            background: rgba(0, 0, 0, .2)
            &__form
                position: relative
                background: #fff
                box-shadow: 0 5px 10px -3px rgba(0, 0, 0, .1)
                width: 300px
                padding: 60px 40px
                margin-bottom: 100px
                &__title
                    font-size: 1.5em
                    margin-bottom: 20px
                &__box
                    display: flex
                    flex-direction: column
                &__name
                    font-size: 1em
                    margin: 20px 0 10px
                &__input
                    font-size: 1.2em
                    padding: 10px 20px
                    outline: none
                    border: solid 2px #b1b1b1
                    &:focus
                        border-color: #43b7ff
                &__return
                    position: absolute
                    right: 0
                    top: 0
                    width: 20px
                    height: 20px
                    cursor: pointer
                    padding: 20px
                    &__cross
                        position: relative
                        width: 100%
                        height: 100%
                        transform: rotate(45deg)
                        div
                            cursor: pointer
                            position: absolute
                            top: 0
                            left: 0
                            right: 0
                            bottom: 0
                            margin: auto
                            border-radius: 42px
                            background: #000
                            &:nth-child(1)
                                width: 100%
                                height: 5px
                            &:nth-child(2)
                                width: 5px
                                height: 100%

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes fadeFromLeft
    0%
        opacity: 0
        transform: translateX(-20px)
    100%
        opacity: 1
        transform: translateX(0)


@keyframes fadeFromBottom
    0%
        opacity: 0
        transform: translateY(20px)
    100%
        opacity: 1
        transform: translateY(0)


@media screen and ( max-width: 1200px)
    .nav
        display: none
