.button
    cursor: pointer
    background: none
    border: none
    outline: none
    font-family: Poppins, sans-serif
    transition: background 300ms ease
    &--next
        cursor: pointer
        font-size: 1.3em
        color: #ffffff
        border: solid 1px #fd4828
        padding: 5px 20px
        background: linear-gradient(to left, #fd4828, #ff8a75)
        background-size: 300% 100%
        &:hover,
        &:focus
            background-position-x: 100px
    &--create
        font-size: 1.3em
        padding: 10px 25px
        color: #fff
        border: solid 1px #fd4828
        background: linear-gradient(to left, #fd4828, #ff8a75)
        background-size: 300% 100%
        &:hover
            background-position-x: 150px
    &--submit
        cursor: pointer
        color: #2652ca
        border: solid 1px #2652ca
        font-size: 1.2em
        padding: 10px 20px
        margin-top: 40px
        &:hover
            background: #2652ca2f
