@import url(https://fonts.googleapis.com/css?family=Poppins:200,400,800&display=swap);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.default {
  font-weight: 400;
}

.bold {
  font-weight: 800;
}

html {
  min-height: 100%;
  background: #000;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background: #000;
}

body {
  min-height: 100vh;
  display: flex;
}

.nav {
  height: 100vh;
  min-width: 300px;
  padding: 0 40px;
  background: #000;
  color: #fff;
}

.nav a {
  text-decoration: none;
  color: #c9c9c9;
}

.nav__title {
  margin: 50px 0;
  font-size: 1.6em;
}

.nav .section {
  -webkit-animation: fadeFromLeft 500ms ease-out;
          animation: fadeFromLeft 500ms ease-out;
  margin-bottom: 40px;
}

.nav .section__title {
  font-size: 0.9em;
  color: #9e9e9e;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.nav .section__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 20px 0;
  transition: border 200ms ease, color 200ms ease;
  border: solid 1px #000;
  color: #fff;
  opacity: 0.5;
}

.nav .section__item * {
  cursor: pointer;
}

.nav .section__item__icon {
  width: 20px;
  margin-right: 20px;
}

.nav .section__item:hover,
.nav .section__item.route--active {
  opacity: 1;
}

.content {
  width: 100%;
  background: #fff;
  -webkit-animation: fadeIn 900ms ease-out;
          animation: fadeIn 900ms ease-out;
  overflow: auto;
  max-height: 100vh;
}

.content__header {
  padding: 30px;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
}

.content__header__title {
  font-size: 1.3em;
  text-transform: capitalize;
}

.content__header .button {
  margin-left: auto;
}

.content .home {
  max-width: 1200px;
  margin: 200px auto;
  line-height: 1.7;
  -webkit-animation: fadeFromBottom 300ms ease-out;
          animation: fadeFromBottom 300ms ease-out;
}

.content .home__title {
  font-size: 3.3em;
  font-weight: 800;
}

.content .home__description {
  margin: 20px 0 60px 0;
}

.content .users {
  margin: 40px;
}

.content .users__title {
  font-weight: 800;
  font-size: 2.2em;
  margin: 50px 0;
  color: #000;
}

.content .users__title::after {
  content: ".";
  color: blue;
}

.content .users .list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px;
  -webkit-animation: fadeFromBottom 300ms ease-out;
          animation: fadeFromBottom 300ms ease-out;
}

.content .users .list .blank {
  background: #ececec;
}

.content .users .list__item {
  position: relative;
  padding: 40px 0;
  width: 300px;
  min-height: 150px;
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.1);
  padding: 40px 20px;
  margin: 40px;
  color: #fff;
  background: linear-gradient(135deg, #328af1, #328af1, #8ac1ff);
}

.content .users .list__item__name {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.content .users .list__item__content {
  font-weight: 200;
  line-height: 1.4;
}

.content .users .list__item__you,
.content .users .list__item__delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}

.content .users .list__item__you {
  padding: 15px;
}

.content .users .list__item__delete {
  cursor: pointer;
  font-family: Poppins, sans-serif;
  margin-left: auto;
  background: none;
  color: red;
  border: none;
  font-size: 2.3em;
}

.content .users .list__item__delete__img {
  padding: 5px 10px;
  width: 20px;
}

.content .users .create {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  -webkit-animation: fadeIn 200ms ease;
          animation: fadeIn 200ms ease;
  background: rgba(0, 0, 0, 0.2);
}

.content .users .create__form {
  position: relative;
  background: #fff;
  box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 60px 40px;
  margin-bottom: 100px;
}

.content .users .create__form__title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.content .users .create__form__box {
  display: flex;
  flex-direction: column;
}

.content .users .create__form__name {
  font-size: 1em;
  margin: 20px 0 10px;
}

.content .users .create__form__input {
  font-size: 1.2em;
  padding: 10px 20px;
  outline: none;
  border: solid 2px #b1b1b1;
}

.content .users .create__form__input:focus {
  border-color: #43b7ff;
}

.content .users .create__form__return {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 20px;
}

.content .users .create__form__return__cross {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.content .users .create__form__return__cross div {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 42px;
  background: #000;
}

.content .users .create__form__return__cross div:nth-child(1) {
  width: 100%;
  height: 5px;
}

.content .users .create__form__return__cross div:nth-child(2) {
  width: 5px;
  height: 100%;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1200px) {
  .nav {
    display: none;
  }
}

.button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-family: Poppins, sans-serif;
  transition: background 300ms ease;
}

.button--next {
  cursor: pointer;
  font-size: 1.3em;
  color: #ffffff;
  border: solid 1px #fd4828;
  padding: 5px 20px;
  background: linear-gradient(to left, #fd4828, #ff8a75);
  background-size: 300% 100%;
}

.button--next:hover,
.button--next:focus {
  background-position-x: 100px;
}

.button--create {
  font-size: 1.3em;
  padding: 10px 25px;
  color: #fff;
  border: solid 1px #fd4828;
  background: linear-gradient(to left, #fd4828, #ff8a75);
  background-size: 300% 100%;
}

.button--create:hover {
  background-position-x: 150px;
}

.button--submit {
  cursor: pointer;
  color: #2652ca;
  border: solid 1px #2652ca;
  font-size: 1.2em;
  padding: 10px 20px;
  margin-top: 40px;
}

.button--submit:hover {
  background: #2652ca2f;
}

