@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,800&display=swap');

.bold
    font-weight: 800

*
    font-family: Poppins, sans-serif

html,
body
    min-height: 80%
    display: flex
    justify-content: center
    align-items: center

.login
    width: 300px
    &__title
        font-weight: 400
        line-height: 1.2
        .bold
            font-size: 1.5em
    &__form
        display: flex
        flex-direction: column

    &__input
        border: solid 1px #e4e4e4
        outline: none
        padding: 10px 20px
        &:focus
            border-color: #599cff

    &__name
        font-size: 1em
        margin-top: 20px

    &__submit
        cursor: pointer
        font-size: 1em
        border: none
        background: #ff4d4d
        width: 200px
        margin-top: 50px
        padding: 10px 30px
        color: #fff
