@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,800&display=swap");
.bold {
  font-weight: 800;
}

* {
  font-family: Poppins, sans-serif;
}

html,
body {
  min-height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login {
  width: 300px;
}

.login__title {
  font-weight: 400;
  line-height: 1.2;
}

.login__title .bold {
  font-size: 1.5em;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__input {
  border: solid 1px #e4e4e4;
  outline: none;
  padding: 10px 20px;
}

.login__input:focus {
  border-color: #599cff;
}

.login__name {
  font-size: 1em;
  margin-top: 20px;
}

.login__submit {
  cursor: pointer;
  font-size: 1em;
  border: none;
  background: #ff4d4d;
  width: 200px;
  margin-top: 50px;
  padding: 10px 30px;
  color: #fff;
}
/*# sourceMappingURL=login.css.map */